.table td, .table th {
    vertical-align: middle;
}
h1 {
    color: blue;
}
hr {
    background-color: #ddd;
}

.jumbotron {
    min-height: 100vh;
}

.jumbotron h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}